.App {
  background-color: var(--bg);
  height: 100%;
  transition: color 0.5s;
}

.header {
  background-color: var(--el-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1rem;
  border-bottom: 1px solid var(--bg);
  box-shadow: var(--box-shadow1);
  /* margin-bottom: 2rem; */
  color: var(--text);
}

main {
  background-color: var(--bg);
}

.header__title {
  font-size: 1rem;
  font-weight: var(--font-wght-extra-bold);
}

.toggle-theme {
  border: none;
  background: var(--el-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-icon {
  width: 1rem;
  margin-right: .5rem;
  color: var(--text);
}

.toggle-theme-text {
  font-weight: var(--font-wght-bold);
  color: var(--text);
  ;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  background-color: var(--bg);
  padding-right: 1rem;
  padding-top: 2em;
}

#country-filter {
  display: none;
}

option {
  font-weight: var(--font-wght-bold);
}

.search-parent {
  width: 100%;
  position: relative;
}

.search-icon {
  position: absolute;
  color: var(--input);
  left: 14px;
  top: 12px;
  width: 1rem;
}

input[type="search"] {
  padding: 1rem;
  padding-left: 3rem;
  font-weight: var(--font-wght-bold);
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  box-shadow: var(--box-shadow2);
  border-radius: var(--border-radius);
  position: relative;
  cursor: pointer;
  background-color: var(--el-color);
  color: var(--text);
}


::placeholder {
  color: var(--text);
  font-family: var(--ff);
  opacity: var(--opacity);
}

.select-parent {
  width: 100%;
  position: relative;
}

.select-parent::after {
  content: var(--arrow);
  font-size: 1rem;
  width: .6rem;
  position: absolute;
  top: 29%;
  left: 54%;
  color: var(--text);
}

select {
  font-weight: var(--font-wght-bold);
  padding: 1rem 1rem;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60%;
  box-shadow: var(--box-shadow2);
  border-radius: var(--border-radius);
  font-size: .8rem;
  cursor: pointer;
  background-color: var(--el-color);
  color: var(--text);
  opacity: var(--opacity);
  opacity: 1;
}

.country-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: var(--ff);
  padding-left: 0;
  list-style-type: none;
  background-color: var(--bg);
  padding-top: 2rem;
}

.country-card {
  /* border: 1px solid red; */
  width: 18rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow2);
  background-color: var(--el-color);
}

.country-info > * {
  color: var(--text);
}

.country-card-image {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.country-info {
  /* border: 1px solid red; */
  padding: 1rem 1.5rem 2rem 1.5rem;
  background-color: var(--el-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}