.header {
  background-color: var(--light-mode-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1rem;
  border-bottom: 1px solid var(--light-mode-bg);
  box-shadow: rgb(100 100 111 / 20%) 3px 0px 20px 2px;
  margin-bottom: 2rem;
}

.header__title {
  font-size: .9rem;
  font-weight: var(--font-wght-extra-bold);
}

.toggle-theme {
  border: none;
  background: var(--light-mode-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-icon {
  width: 1rem;
  margin-right: .5rem;
}

.toggle-theme-text {
  font-weight: var(--font-wght-bold);
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  background-color: var(--light-mode-bg);
  padding-right: 1rem;
}

#country-filter {
  display: none;
}

option {
  font-weight: var(--font-wght-bold);
}

.search-parent {
  width: 100%;
  position: relative;
}

.search-icon {
  position: absolute;
  color: var(--light-mode-input);
  left: 14px;
  top: 12px;
  width: 1rem;
}

input[type="search"] {
  padding: 1rem;
  padding-left: 3rem;
  font-weight: var(--font-wght-bold);
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  box-shadow: rgb(149 157 165 / 20%) 0px 0px 12px 0px;
  border-radius: var(--border-radius);
  position: relative;
  cursor: pointer;
}

/* input[type="search"]::before {
  content: '';
  position: absolute;
  background: url(./assets/search.svg) no-repeat;
  background-position: left center;
} */

::placeholder {
  color: var(--light-mode-input);
  font-family: var(--ff);
  opacity: 0.5;
}

.select-parent {
  width: 100%;
  position: relative;
}

.select-parent::after {
  content: url(./assets/arrow.svg);
  font-size: 1rem;
  width: .6rem;
  position: absolute;
  top: 13px;
  right: 150px;
}

select {
  font-weight: var(--font-wght-bold);
  padding: 1rem 1rem;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60%;
  box-shadow: rgb(149 157 165 / 20%) 0px 0px 12px 0px;
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  font-size: .8rem;
  opacity: 0.8;
  cursor: pointer;
}