body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 87.5%;
  font-family: var(--ff);
  color: var(--text);
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

img {
  max-width: 100%;
}

:root {
  --dark-mode-el-color: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --dark--mode-text: hsl(0, 0%, 100%);
  --dark--mode--input: var(--dark--mode-text);
  --dark--bs--header: rgb(10 10 12 / 20%) 3px 0px 20px 2px;
  --dark--bs--nav: rgb(0 0 0 / 16%) 3px 0px 7px 0px,
    rgb(0 0 0 / 6%) 0px 0px 0px 1px;

  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-bg: hsl(0, 0%, 98%);
  --light-mode-el-color: hsl(0, 0%, 100%);
  --light-bs-header: rgb(100 100 111 / 20%) 3px 0px 20px 2px;
  --light-bs-nav: rgb(149 157 165 / 20%) 0px 0px 12px 0px;

  --font-wght-light: 300;
  --font-wght-bold: 600;
  --font-wght-extra-bold: 800;
  --ff: 'Nunito Sans',
    sans-serif;

  --border-radius: 5px;
}

@media(prefers-color-scheme: dark) {
  :root {
    --text: var(--dark--mode-text);
    --input: var(--dark-mode-input);
    --bg: var(--dark-mode-bg);
    --el-color: var(--dark-mode-el-color);
    --box-shadow1: var(--dark--bs--header);
    --box-shadow2: var(--dark--bs--nav);
    --opacity: 1;
    --arrow: url(./assets/arrow-dark.svg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--light-mode-text);
    --input: var(--light-mode-input);
    --bg: var(--light-mode-bg);
    --el-color: var(--light-mode-el-color);
    --box-shadow1: var(--light-bs-header);
    --box-shadow2: var(--light-bs-nav);
    --opacity: 0.5;
    --arrow: url(./assets/arrow.svg);
  }


}